In [59]:
from datetime import timedelta
from functools import reduce
import pandas as pd

In [112]:

s3_paths = [
    "s3://data-for-case-3/tabledata/train_data/train_amplitude_chunk_00.parquet",
    "s3://data-for-case-3/tabledata/train_data/train_amplitude_chunk_01.parquet",
    "s3://data-for-case-3/tabledata/train_data/train_amplitude_chunk_02.parquet",
    "s3://data-for-case-3/tabledata/valid_data/valid_amplitude_chunk_00.parquet",
    "s3://data-for-case-3/tabledata/test_data/test_amplitude_chunk_00.parquet",
    "s3://data-for-case-3/tabledata/test_data/test_amplitude_chunk_01.parquet"
]

storage_options = {
    "key": "YCB2BAvtu7_kXfgsmzA_0xv4i",
    "secret": "YCNnsH6n4uHb6_OQ5fpkhN8F4ZhgNbZLwJqsccoV",
    "client_kwargs": {
        "endpoint_url": "https://storage.yandexcloud.kz"
    }
}


df_all = pd.concat(
    [pd.read_parquet(path, storage_options=storage_options) for path in s3_paths],
    ignore_index=True
)


print("Total rows:", df_all.shape[0])

Total rows: 9536248

In [113]:
df_all.head()

,applicationid,app,city,client_event_time,country,device_brand,device_carrier,device_family,device_id,device_manufacturer,...,os_version,partner_id,platform,region,session_id,user_creation_time,user_id,user_properties,version_name,application_date
0,Д\286\011221568,465705,Astana,2024-10-01 13:26:10.581 +0500,Kazakhstan,NaN,--,Apple iPhone,93909CF3-8C0B-4051-9635-10AEB3B08DB0,NaN,...,17.5.1,NaN,iOS,Astana,1.727771e+12,NaN,SN0000003682121,{},2.44.0,2024-09-03
1,Д\286\011221568,465705,Astana,2024-12-05 16:48:43.249 +0500,Kazakhstan,NaN,--,Apple iPhone,93909CF3-8C0B-4051-9635-10AEB3B08DB0,NaN,...,17.5.1,NaN,iOS,Astana,1.733399e+12,NaN,SN0000003682121,{},2.48.0,2024-09-03
2,Д\286\011221568,465705,Astana,2024-10-09 14:54:22.453 +0500,Kazakhstan,NaN,--,Apple iPhone,93909CF3-8C0B-4051-9635-10AEB3B08DB0,NaN,...,17.5.1,NaN,iOS,Astana,1.728468e+12,NaN,SN0000003682121,{},2.44.2,2024-09-03
3,Д\286\011221568,465705,Almaty Oblysy,2024-10-09 09:40:27.374 +0500,Kazakhstan,NaN,--,Apple iPhone,93909CF3-8C0B-4051-9635-10AEB3B08DB0,NaN,...,17.5.1,NaN,iOS,Almaty Oblysy,1.728449e+12,NaN,SN0000003682121,{},2.44.2,2024-09-03
4,Д\286\011221568,465705,Astana,2024-12-05 16:50:46.873 +0500,Kazakhstan,NaN,--,Apple iPhone,93909CF3-8C0B-4051-9635-10AEB3B08DB0,NaN,...,17.5.1,NaN,iOS,Astana,1.733399e+12,NaN,SN0000003682121,{},2.48.0,2024-09-03

In [114]:
df_all.columns

Index(['applicationid', 'app', 'city', 'client_event_time', 'country',
       'device_brand', 'device_carrier', 'device_family', 'device_id',
       'device_manufacturer', 'device_model', 'device_type', 'event_id',
       'event_time', 'event_type', 'global_user_properties', 'ip_address',
       'language', 'location_lat', 'location_lng', 'os_name', 'os_version',
       'partner_id', 'platform', 'region', 'session_id', 'user_creation_time',
       'user_id', 'user_properties', 'version_name', 'application_date'],
      dtype='object')

In [115]:
#check duplicates

In [129]:
df_all[df_all[['event_id','applicationid']].duplicated()]

Empty DataFrame
Columns: [applicationid, app, city, client_event_time, country, device_brand, device_carrier, device_family, device_id, device_manufacturer, device_model, device_type, event_id, event_time, event_type, global_user_properties, ip_address, language, location_lat, location_lng, os_name, os_version, partner_id, platform, region, session_id, user_creation_time, user_id, user_properties, version_name, application_date]
Index: []

[0 rows x 31 columns]

In [117]:
df_all[(df_all['applicationid'] == "Д\\286\\011223547") & (df_all['event_id'] == 1183)]

,applicationid,app,city,client_event_time,country,device_brand,device_carrier,device_family,device_id,device_manufacturer,...,os_version,partner_id,platform,region,session_id,user_creation_time,user_id,user_properties,version_name,application_date
112,Д\286\011223547,465705,Almaty,2024-12-29 16:16:44.534 +0500,Kazakhstan,NaN,--,Apple iPhone,1D84928D-832D-4466-B2C2-AC4F4D377742,NaN,...,18.1.1,NaN,iOS,Almaty,1.735471e+12,NaN,Q001293875,"{""[AppsFlyer] channel"": ""ACI_Search"", ""[AppsFl...",2.50.0,2024-09-04
130,Д\286\011223547,465705,Almaty,2024-12-29 16:16:44.534 +0500,Kazakhstan,NaN,--,Apple iPhone,1D84928D-832D-4466-B2C2-AC4F4D377742,NaN,...,18.1.1,NaN,iOS,Almaty,1.735471e+12,NaN,Q001293875,"{""[AppsFlyer] channel"": ""ACI_Search"", ""[AppsFl...",2.50.0,2024-09-04

In [118]:
df_all.columns

Index(['applicationid', 'app', 'city', 'client_event_time', 'country',
       'device_brand', 'device_carrier', 'device_family', 'device_id',
       'device_manufacturer', 'device_model', 'device_type', 'event_id',
       'event_time', 'event_type', 'global_user_properties', 'ip_address',
       'language', 'location_lat', 'location_lng', 'os_name', 'os_version',
       'partner_id', 'platform', 'region', 'session_id', 'user_creation_time',
       'user_id', 'user_properties', 'version_name', 'application_date'],
      dtype='object')

In [119]:
df_all['user_creation_time']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
9536243   NaN
9536244   NaN
9536245   NaN
9536246   NaN
9536247   NaN
Name: user_creation_time, Length: 9536248, dtype: float64

In [120]:
#Удаляем дубли
df_all.drop_duplicates(subset = ['applicationid','event_id'], keep = 'first',inplace=True)

In [121]:
df_all[(df_all['applicationid'] == "Д\\286\\011223547") & (df_all['event_id'] == 1183)]

,applicationid,app,city,client_event_time,country,device_brand,device_carrier,device_family,device_id,device_manufacturer,...,os_version,partner_id,platform,region,session_id,user_creation_time,user_id,user_properties,version_name,application_date
112,Д\286\011223547,465705,Almaty,2024-12-29 16:16:44.534 +0500,Kazakhstan,NaN,--,Apple iPhone,1D84928D-832D-4466-B2C2-AC4F4D377742,NaN,...,18.1.1,NaN,iOS,Almaty,1.735471e+12,NaN,Q001293875,"{""[AppsFlyer] channel"": ""ACI_Search"", ""[AppsFl...",2.50.0,2024-09-04

In [73]:
s3_path = "s3://data-for-case-3/tabledata/train_data/train_app_data.parquet"


access_key = "YCB2BAvtu7_kXfgsmzA_0xv4i"
secret_key = "YCNnsH6n4uHb6_OQ5fpkhN8F4ZhgNbZLwJqsccoV"


df_app_train = pd.read_parquet(
    s3_path,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)
df_app_train['data'] = 'train'
df_app_train.head()

,APPLICATIONID,CREATE_DATE,CREATE_DATETIME,DATA_ISSUE,VINTAGE,PRODUCT_GROUP,PURPOSE_LOAN,OPV_REASON,KANAL_PRODAZH,TOTALAMOUNT,...,MARITALSTATUS,DEPENDANT_COUNT,COMPANY_NAME,REGREGION,REGCOUNTY,REGTOWN,BIRTHCOUNTRY,BKI,VKI,data
0,Д\286\011639474,2024-10-17,17.10.2024 12:16,17.10.2024,2024_10,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,150 000,...,Женат/Замужем,2,"ТОО ""DIZZY"" (ДИЗЗИ)",None,г. Алматы,г.Алматы,РЕСПУБЛИКА КАЗАХСТАН ...,Плохая,Отсутствует,train
1,Д\286\011668478,2024-10-21,21.10.2024 8:31,21.10.2024,2024_10,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,300 000,...,Женат/Замужем,1,"ИП ""Vitto Company""",г.Караганда,Карагандинская область,г.Караганда,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Хорошая,train
2,Д\286\011681466,2024-10-22,22.10.2024 10:05,22.10.2024,2024_10,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,600 000,...,Женат/Замужем,2,,Бостандыкский район,г. Алматы,Ойшиликский сельский округ,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,train
3,Д\286\011721797,2024-10-26,26.10.2024 14:13,26.10.2024,2024_10,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,200 000,...,Женат/Замужем,1,,г.Шахтинск,Карагандинская область,Ойшиликский сельский округ,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,train
4,Д\286\012045593,2024-01-12,01.12.2024 19:14,02.12.2024,2024_12,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,150 000,...,Женат/Замужем,0,,None,г. Алматы,г.Алматы,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,train

In [74]:
s3_path = "s3://data-for-case-3/tabledata/test_data/test_app_data.parquet"


access_key = "YCB2BAvtu7_kXfgsmzA_0xv4i"
secret_key = "YCNnsH6n4uHb6_OQ5fpkhN8F4ZhgNbZLwJqsccoV"


df_app_test = pd.read_parquet(
    s3_path,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)
df_app_test['data'] = 'test'
df_app_test.head()

,APPLICATIONID,CREATE_DATE,CREATE_DATETIME,DATA_ISSUE,VINTAGE,PRODUCT_GROUP,PURPOSE_LOAN,OPV_REASON,KANAL_PRODAZH,TOTALAMOUNT,...,MARITALSTATUS,DEPENDANT_COUNT,COMPANY_NAME,REGREGION,REGCOUNTY,REGTOWN,BIRTHCOUNTRY,BKI,VKI,data
77,Д\286\011910030,2024-11-16,16.11.2024 15:41,16.11.2024,2024_11,Доверительный,На рефинансирование займа и потребительские цели,Онлайн СБОЛ,QR,1 459 053,...,Женат/Замужем,3,Индивидуальный предприниматель НУР,None,г. Алматы,г.Алматы,КИТАЙСКАЯ НАРОДНАЯ РЕСПУБЛИКА (КНР) ...,Средняя,Отсутствует,test
78,Д\286\011920304,2024-11-18,18.11.2024 12:12,18.11.2024,2024_11,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,300 000,...,Женат/Замужем,1,"ТОО ""АЌЇРПЕК""",г.Тараз,Жамбылская область,Ойшиликский сельский округ,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Хорошая,test
79,Д\286\011936413,2024-11-19,19.11.2024 16:14,19.11.2024,2024_11,Доверительный,На рефинансирование займа,Онлайн СБОЛ,QR,4 287 157,...,Разведен/Разведена,1,ТОО Aitas meat distribution,Турксибский район,г. Алматы,Ойшиликский сельский округ,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,test
80,Д\286\011937030,2024-11-19,19.11.2024 16:47,19.11.2024,2024_11,Доверительный,На рефинансирование займа и потребительские цели,NEW САЙТ,WEB,1 762 645,...,Женат/Замужем,5,,Жанакорганский район,Кызылординская область,с.Жанакорган,РЕСПУБЛИКА КАЗАХСТАН ...,Средняя,Отсутствует,test
81,Д\286\011938474,2024-11-19,19.11.2024 18:58,19.11.2024,2024_11,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,2 000 000,...,Разведен/Разведена,0,,г.Усть-Каменогорск,Восточно- Казахстанская область,Ойшиликский сельский округ,РОССИЙСКАЯ ФЕДЕРАЦИЯ ...,Хорошая,Отсутствует,test

In [75]:
s3_path = "s3://data-for-case-3/tabledata/valid_data/valid_app_data.parquet"


access_key = "YCB2BAvtu7_kXfgsmzA_0xv4i"
secret_key = "YCNnsH6n4uHb6_OQ5fpkhN8F4ZhgNbZLwJqsccoV"


df_app_val = pd.read_parquet(
    s3_path,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)
df_app_val['data'] = 'valid'
df_app_val.head()

,APPLICATIONID,CREATE_DATE,CREATE_DATETIME,DATA_ISSUE,VINTAGE,PRODUCT_GROUP,PURPOSE_LOAN,OPV_REASON,KANAL_PRODAZH,TOTALAMOUNT,...,MARITALSTATUS,DEPENDANT_COUNT,COMPANY_NAME,REGREGION,REGCOUNTY,REGTOWN,BIRTHCOUNTRY,BKI,VKI,data
8,Д\286\012220838,2024-12-20,20.12.2024 16:28,20.12.2024,2024_12,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,1 800 000,...,Холост/Не замужем,0,КАРЫБАЕВ ЖЕНИСБЕК,Зайсанский район,Восточно- Казахстанская область,г.Зайсан,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,valid
9,Д\286\012249879,2024-12-24,24.12.2024 11:51,24.12.2024,2024_12,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,560 000,...,Холост/Не замужем,0,"Филиал ""Coffee Original - Tole bi""",None,г. Алматы,г.Алматы,РЕСПУБЛИКА КАЗАХСТАН ...,Хорошая,Отсутствует,valid
10,Д\286\012273876,2024-12-26,26.12.2024 16:56,26.12.2024,2024_12,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,1 500 000,...,Женат/Замужем,1,,Медеуский район,г. Алматы,Ойшиликский сельский округ,РЕСПУБЛИКА КЫРГЫЗСТАН ...,Хорошая,Отсутствует,valid
11,Д\286\012288632,2024-12-28,28.12.2024 16:13,30.12.2024,2024_12,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,200 000,...,Женат/Замужем,3,ИП Ганзиева,None,г. Алматы,г.Алматы,РЕСПУБЛИКА УЗБЕКИСТАН ...,Хорошая,Отсутствует,valid
29,Д\286\011592446,2024-12-10,12.10.2024 11:52,12.10.2024,2024_10,Доверительный,На потребительские цели,Онлайн СБОЛ,B-Bank,200 000,...,Женат/Замужем,1,АО Казпочта,г.Кокшетау,Акмолинская область,Ойшиликский сельский округ,РЕСПУБЛИКА КАЗАХСТАН ...,Плохая,Отсутствует,valid

In [76]:
df_app_val['APPLICATIONID'].isna().sum()

np.int64(0)

In [87]:
df_app = pd.concat([df_app_train, df_app_test, df_app_val])

In [88]:
len(df_app)

30293

In [89]:
df_app[df_app['APPLICATIONID'].duplicated()]

Empty DataFrame
Columns: [APPLICATIONID, CREATE_DATE, CREATE_DATETIME, DATA_ISSUE, VINTAGE, PRODUCT_GROUP, PURPOSE_LOAN, OPV_REASON, KANAL_PRODAZH,  TOTALAMOUNT ,  SUM_CREDIT_KZT , BRANCH, SPF, APPLICATION_ISA0AUTO, MNG_NAME_LOGIN_INIT, MNG_NAME_INIT,  DM5DPD1GCVPSUM , DM5DPD1SALARYSUM,  DM5EXPSUM ,  DM5INCSUM , DM5INC, DM5EXP, DM7INC, DM7EXP, DM6SCOREN6PD, DM6SCOREN6, FINALKDN, CREDITTERM_RBL0, CLI_AGE, GENDER, MARITALSTATUS, DEPENDANT_COUNT, COMPANY_NAME, REGREGION, REGCOUNTY, REGTOWN, BIRTHCOUNTRY, BKI, VKI, data]
Index: []

[0 rows x 40 columns]

In [97]:

s3_train_target = "s3://data-for-case-3/tabledata/train_data/train_target_data.parquet"

df_target_train = pd.read_parquet(
    s3_train_target,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)

df_target_train.head()

,APPLICATIONID,CREATE_DATE,DEL_F1PD_CNT,DEL_SPD_CNT,DEL_TPD_CNT,DEL_F4PD_CNT,target,tag
0,Д\286\011639474,2024-10-17,0,0,0,0,0,None
1,Д\286\011668478,2024-10-21,0,0,0,0,0,None
2,Д\286\011681466,2024-10-22,0,0,0,0,0,None
3,Д\286\011721797,2024-10-26,0,0,0,0,0,None
4,Д\286\012045593,2024-01-12,0,0,0,0,0,None

In [98]:
s3_target_test = "s3://data-for-case-3/tabledata/test_data/test_target_data.parquet"

df_target_test = pd.read_parquet(
    s3_target_test,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)

df_target_test.head()

,APPLICATIONID,CREATE_DATE,DEL_F1PD_CNT,DEL_SPD_CNT,DEL_TPD_CNT,DEL_F4PD_CNT,target,tag
77,Д\286\011910030,2024-11-16,0,0,0,0,0,None
78,Д\286\011920304,2024-11-18,0,0,0,0,0,None
79,Д\286\011936413,2024-11-19,0,0,0,0,0,None
80,Д\286\011937030,2024-11-19,0,0,0,0,0,None
81,Д\286\011938474,2024-11-19,0,0,0,0,0,None

In [100]:
s3_target_val = "s3://data-for-case-3/tabledata/valid_data/valid_target_df.parquet"

df_target_val = pd.read_parquet(
    s3_target_val,
    storage_options={
        "key": access_key,
        "secret": secret_key,
        "client_kwargs": {
            "endpoint_url": "https://storage.yandexcloud.kz"
        }
    }
)

df_target_val.head()

      APPLICATIONID CREATE_DATE
8   Д\286\012220838  2024-12-20
9   Д\286\012249879  2024-12-24
10  Д\286\012273876  2024-12-26
11  Д\286\012288632  2024-12-28
29  Д\286\011592446  2024-12-10

In [101]:
df_target = pd.concat([df_target_train, df_target_test, df_target_val])

In [102]:
df_target[df_target['APPLICATIONID'].duplicated()]

Empty DataFrame
Columns: [APPLICATIONID, CREATE_DATE, DEL_F1PD_CNT, DEL_SPD_CNT, DEL_TPD_CNT, DEL_F4PD_CNT, target, tag]
Index: []

In [106]:
df_final_app = df_app[['APPLICATIONID', 'CREATE_DATETIME', 'data']].merge(df_target[['APPLICATIONID','target']], on = ['APPLICATIONID'], how = 'left')

In [107]:
df_final_app[df_final_app['APPLICATIONID'].duplicated()]

Empty DataFrame
Columns: [APPLICATIONID, CREATE_DATETIME, data, target]
Index: []

In [108]:
df_final_app[df_final_app['APPLICATIONID'] == "Д\\286\\011639474"]

     APPLICATIONID   CREATE_DATETIME   data  target
0  Д\286\011639474  17.10.2024 12:16  train     0.0

In [110]:
df_all.columns

Index(['APPLICATIONID', 'CREATE_DATE', 'CREATE_DATETIME', 'DATA_ISSUE',
       'VINTAGE', 'PRODUCT_GROUP', 'PURPOSE_LOAN', 'OPV_REASON',
       'KANAL_PRODAZH', ' TOTALAMOUNT ', ' SUM_CREDIT_KZT ', 'BRANCH', 'SPF',
       'APPLICATION_ISA0AUTO', 'MNG_NAME_LOGIN_INIT', 'MNG_NAME_INIT',
       ' DM5DPD1GCVPSUM ', 'DM5DPD1SALARYSUM', ' DM5EXPSUM ', ' DM5INCSUM ',
       'DM5INC', 'DM5EXP', 'DM7INC', 'DM7EXP', 'DM6SCOREN6PD', 'DM6SCOREN6',
       'FINALKDN', 'CREDITTERM_RBL0', 'CLI_AGE', 'GENDER', 'MARITALSTATUS',
       'DEPENDANT_COUNT', 'COMPANY_NAME', 'REGREGION', 'REGCOUNTY', 'REGTOWN',
       'BIRTHCOUNTRY', 'BKI', 'VKI', 'data'],
      dtype='object')

In [111]:
df_final_app.columns

Index(['APPLICATIONID', 'CREATE_DATETIME', 'data', 'target'], dtype='object')

In [122]:
df_final = df_final_app.merge(df_all, left_on="APPLICATIONID", right_on="applicationid", how = 'left')

In [123]:
df_final.head().iloc[0]['client_event_time']

'2024-12-13 11:55:09.480 +0500'

In [124]:
df_final.head().iloc[0]['CREATE_DATETIME']

'17.10.2024 12:16'

In [125]:
df_final.describe()

,target,app,device_brand,device_manufacturer,device_model,event_id,global_user_properties,location_lat,location_lng,partner_id,session_id,user_creation_time,application_date
count,7.538761e+06,8337467.0,0.0,0.0,0.0,8.337467e+06,0.0,2.726398e+06,2.726398e+06,0.0,8.337467e+06,0.0,8337467
mean,9.338139e-03,465705.0,NaN,NaN,NaN,1.222936e+03,NaN,4.720666e+01,7.045005e+01,NaN,1.731649e+12,NaN,2024-11-04 07:21:36.505573888
min,0.000000e+00,465705.0,NaN,NaN,NaN,1.000000e+00,NaN,-3.490869e+01,-1.183121e+02,NaN,1.689058e+12,NaN,2024-09-03 00:00:00
25%,0.000000e+00,465705.0,NaN,NaN,NaN,1.840000e+02,NaN,4.326017e+01,6.827930e+01,NaN,1.729597e+12,NaN,2024-10-16 00:00:00
50%,0.000000e+00,465705.0,NaN,NaN,NaN,4.620000e+02,NaN,4.692806e+01,7.145551e+01,NaN,1.731992e+12,NaN,2024-10-31 00:00:00
75%,0.000000e+00,465705.0,NaN,NaN,NaN,1.126000e+03,NaN,5.113994e+01,7.690570e+01,NaN,1.733561e+12,NaN,2024-11-22 00:00:00
max,1.000000e+00,465705.0,NaN,NaN,NaN,4.479000e+04,NaN,6.612383e+01,1.282261e+02,NaN,1.735722e+12,NaN,2024-12-31 00:00:00
std,9.618181e-02,0.0,NaN,NaN,NaN,2.620176e+03,NaN,4.162206e+00,8.549517e+00,NaN,2.291542e+09,NaN,NaN

In [126]:
df_final.dtypes

APPLICATIONID                     object
CREATE_DATETIME                   object
data                              object
target                           float64
applicationid                     object
app                              float64
city                              object
client_event_time                 object
country                           object
device_brand                     float64
device_carrier                    object
device_family                     object
device_id                         object
device_manufacturer              float64
device_model                     float64
device_type                       object
event_id                         float64
event_time                        object
event_type                        object
global_user_properties           float64
ip_address                        object
language                          object
location_lat                     float64
location_lng                     float64
os_name                           object
os_version                        object
partner_id                       float64
platform                          object
region                            object
session_id                       float64
user_creation_time               float64
user_id                           object
user_properties                   object
version_name                      object
application_date          datetime64[ns]
dtype: object

In [127]:
df_final["client_event_time"] = pd.to_datetime(df_final["client_event_time"], utc=True)
df_final["client_event_time"] = df_final["client_event_time"].dt.tz_localize(None)

In [128]:
df_final["CREATE_DATETIME"] = pd.to_datetime(df_final["CREATE_DATETIME"], format="%d.%m.%Y %H:%M", errors="coerce")
df_final["user_creation_time"] = pd.to_datetime(df_final["user_creation_time"], errors="coerce")

In [49]:
df_final['user_creation_time']

0         NaT
1         NaT
2         NaT
3         NaT
4         NaT
           ..
5095103   NaT
5095104   NaT
5095105   NaT
5095106   NaT
5095107   NaT
Name: user_creation_time, Length: 5095108, dtype: datetime64[ns]

In [130]:
df_final["days_after_registration"] = (
    df_final["CREATE_DATETIME"] - df_final["user_creation_time"]
).dt.days

In [131]:
df_final["days_after_registration"].isna().sum()

np.int64(8346768)

In [132]:

def extract_event_features(df, window_days):
    df_window = df[
        (df["client_event_time"] <= df["CREATE_DATETIME"]) &
        (df["client_event_time"] > df["CREATE_DATETIME"] - pd.to_timedelta(window_days, unit="d"))
    ].copy()


    aggregated = df_window.groupby("APPLICATIONID").agg(
        **{
            f"country_kz_ratio_{window_days}d": ("country", lambda x: (x == "Kazakhstan").mean()),
            f"n_unique_device_id_{window_days}d": ("device_id", pd.Series.nunique),
            f"n_unique_event_type_{window_days}d": ("event_type", pd.Series.nunique),
            f"n_unique_ip_{window_days}d": ("ip_address", pd.Series.nunique),
            f"n_event_id_{window_days}d": ("event_id", "count") 
         
        }
    ).reset_index()

    return aggregated

In [136]:
features_list = [extract_event_features(df_final, days) for days in [1, 2, 3, 30]]

df_event_features = reduce(
    lambda left, right: pd.merge(left, right, on="APPLICATIONID", how="outer"),
    features_list
)

df_model_input = (
    df_final[["APPLICATIONID", "CREATE_DATETIME", "target", "data"]]
    .drop_duplicates()
    .merge(df_event_features, on="APPLICATIONID", how="left")
)

In [138]:
df_model_input[df_model_input['APPLICATIONID'].duplicated()]

Empty DataFrame
Columns: [APPLICATIONID, CREATE_DATETIME, target, data, country_kz_ratio_1d, n_unique_device_id_1d, n_unique_event_type_1d, n_unique_ip_1d, n_event_id_1d, country_kz_ratio_2d, n_unique_device_id_2d, n_unique_event_type_2d, n_unique_ip_2d, n_event_id_2d, country_kz_ratio_3d, n_unique_device_id_3d, n_unique_event_type_3d, n_unique_ip_3d, n_event_id_3d, country_kz_ratio_30d, n_unique_device_id_30d, n_unique_event_type_30d, n_unique_ip_30d, n_event_id_30d]
Index: []

[0 rows x 24 columns]

In [139]:
df_final.os_name.value_counts()

os_name
android            4225432
ios                4108748
Chrome                3151
Edge                    46
Yandex                  44
GSA                     21
Opera                   13
Firefox                  5
WebKit                   2
Samsung Browser          2
Android Browser          2
Mobile Safari            1
Name: count, dtype: int64

In [140]:
def extract_os_features_30d(df):
    df_window = df[
        (df["client_event_time"] <= df["CREATE_DATETIME"]) &
        (df["client_event_time"] > df["CREATE_DATETIME"] - pd.Timedelta(days=30))
    ].copy()

   
    df_last = (
        df_window.sort_values(["APPLICATIONID", "client_event_time"], ascending=[True, False])
        .groupby("APPLICATIONID")
        .first()
        .reset_index()[["APPLICATIONID", "os_name"]]
        .rename(columns={"os_name": "last_os_name_30d"})
    )

  
    df_mode = (
        df_window.groupby("APPLICATIONID")["os_name"]
        .agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
        .reset_index()
        .rename(columns={"os_name": "most_common_os_name_30d"})
    )

    df_os = df_last.merge(df_mode, on="APPLICATIONID", how="left")

    return df_os

In [141]:
df_os_30d = extract_os_features_30d(df_final)

df_model_input = (
    df_model_input.drop_duplicates()
    .merge(df_os_30d, on="APPLICATIONID", how="left")
)

In [142]:
df_model_input.columns

Index(['APPLICATIONID', 'CREATE_DATETIME', 'target', 'data',
       'country_kz_ratio_1d', 'n_unique_device_id_1d',
       'n_unique_event_type_1d', 'n_unique_ip_1d', 'n_event_id_1d',
       'country_kz_ratio_2d', 'n_unique_device_id_2d',
       'n_unique_event_type_2d', 'n_unique_ip_2d', 'n_event_id_2d',
       'country_kz_ratio_3d', 'n_unique_device_id_3d',
       'n_unique_event_type_3d', 'n_unique_ip_3d', 'n_event_id_3d',
       'country_kz_ratio_30d', 'n_unique_device_id_30d',
       'n_unique_event_type_30d', 'n_unique_ip_30d', 'n_event_id_30d',
       'last_os_name_30d', 'most_common_os_name_30d'],
      dtype='object')

In [143]:
len(df_model_input)

30293

In [144]:
df_model_input.to_csv("event_features_final.csv")

In [145]:
len(df_model_input)

30293

In [146]:
len(df_model_input[df_model_input['data'] == 'train'])

18386

In [148]:
len(df_model_input[df_model_input['data'] == 'valid'])

6379

In [149]:
len(df_model_input[df_model_input['data'] == 'test'])

5528

In [150]:
df_model_input.isna().sum()

APPLICATIONID                  0
CREATE_DATETIME                0
target                      6379
data                           0
country_kz_ratio_1d        10029
n_unique_device_id_1d      10029
n_unique_event_type_1d     10029
n_unique_ip_1d             10029
n_event_id_1d              10029
country_kz_ratio_2d        10008
n_unique_device_id_2d      10008
n_unique_event_type_2d     10008
n_unique_ip_2d             10008
n_event_id_2d              10008
country_kz_ratio_3d         9973
n_unique_device_id_3d       9973
n_unique_event_type_3d      9973
n_unique_ip_3d              9973
n_event_id_3d               9973
country_kz_ratio_30d        9583
n_unique_device_id_30d      9583
n_unique_event_type_30d     9583
n_unique_ip_30d             9583
n_event_id_30d              9583
last_os_name_30d            9583
most_common_os_name_30d     9583
dtype: int64

NameError: name 'df_model_input' is not defined